*.mp4
*.avi
test2
train
Мус
test
new
big_test
segmentation
yolov8
errorData
*.h5
static
build
dep
dist
output
*.spec
sings
sings_text
CNN_side
runs
venv_new/
venv/
.venv/
__pycache__/
*.pyc
*.pyd
*.dll
*.lib